@page
@model TeamE_SacramentPlanner.Pages.Speakers.DetailsModel

@{
    ViewData["Title"] = "Speaker Details";
}

<h1>Speaker Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker.MeetingID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speaker.MeetingID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker.SpeakerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speaker.SpeakerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker.SpeakerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speaker.SpeakerType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Speaker.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
