@page
@model TeamE_SacramentPlanner.Pages.Speakers.IndexModel

@{
    ViewData["Title"] = "Historical Speakers";
}

<h1>Historical Speakers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meetings[0].MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].SpeakerType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Speaker)
        {
            <tr>
                <td>
                    @foreach (var meeting in Model.Meetings)
                    {
                        @if (item.MeetingID == meeting.ID)
                        {
                            @Html.DisplayFor(modelItem => meeting.MeetingDate)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerType)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
