@page
@model TeamE_SacramentPlanner.Pages.MeetingPrograms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MeetingProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Presiding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Presiding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Conducting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Conducting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.OpHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.OpHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.OpHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.OpHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Invocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Invocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.SHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.SHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.SHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.SHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.MusicalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.MusicalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.ClHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.ClHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.ClHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.ClHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Benediction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Benediction)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MeetingProgram.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
