@page
@model TeamE_SacramentPlanner.Pages.MeetingPrograms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="no-print">Details</h1>

<div>
    <h4>MeetingProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Presiding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Presiding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Conducting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Conducting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.OpHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.OpHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.OpHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.OpHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Invocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Invocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.SHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.SHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.SHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.SHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.MusicalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.MusicalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.ClHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.ClHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.ClHymnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.ClHymnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingProgram.Benediction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingProgram.Benediction)
        </dd>
    </dl>
</div>
<div class="no-print">
    <a asp-page="./Edit" asp-route-id="@Model.MeetingProgram.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
    <input type="button" value="Print Sacrament Plan" onclick="window.print()" />
</div>
