@page
@model TeamE_SacramentPlanner.Pages.MeetingPrograms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MeetingProgram[0].MeetingDate)</th>
            <th>@Html.DisplayNameFor(model => model.MeetingProgram[0].Conducting)</th>
            <th>Hymns</th>
            <th></th>
            <th>Prayers</th>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.MeetingProgram[0].MusicalNumber)</th>
            <th>Speakers</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MeetingProgram)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MeetingDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Conducting)</td>
                <td>
                    <strong>Opening:</strong><br />
                    <strong>Sacrament:</strong><br />
                    <strong>Closing:</strong>
                </td>
                <td>
                    #&nbsp;@Html.DisplayFor(modelItem => item.OpHymnNumber)&nbsp;@Html.DisplayFor(modelItem => item.OpHymnName)<br>
                    #&nbsp;@Html.DisplayFor(modelItem => item.SHymnNumber)&nbsp;@Html.DisplayFor(modelItem => item.SHymnName)<br>
                    #&nbsp;@Html.DisplayFor(modelItem => item.ClHymnNumber)&nbsp;@Html.DisplayFor(modelItem => item.ClHymnName)
                </td>
                <td>
                    <strong>Opening:</strong><br />
                    <strong>Closing:</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invocation)<br>
                    @Html.DisplayFor(modelItem => item.Benediction)
                </td>
                <td>@Html.DisplayFor(modelItem => item.MusicalNumber)</td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Speaker.SpeakerType.FirstOrDefault):</strong><br />
                    <strong>@Html.DisplayFor(modelItem => item.Speaker.SpeakerType):</strong><br />
                    <strong>@Html.DisplayFor(modelItem => item.Speaker.SpeakerType):</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speaker.SpeakerName)<br>
                    @Html.DisplayFor(modelItem => item.Speaker.SpeakerName)<br>
                    @Html.DisplayFor(modelItem => item.Speaker.SpeakerName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary add-space">Edit</a><br>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-primary add-space">Details</a><br>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-primary add-space">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
